/* ----------common part-------- */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Poppins:ital,wght@0,500;1,400&display=swap');
/* top players style */
body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;


}

main{



    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* ---------upper part--------- */
h1{
    font-size: 40px;

}
.white{
    color: white;
}


.black{
    display: flex;
    background-color:black;
    padding: 20px;
    border-radius: 30px;
}


.button{
    
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 25px;
    border-radius: 10px;
    padding: 3px;
}
/* ------------lowwer part------------- */
.lower-part{
    margin-top: 100px;
    margin-bottom: 100px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
/* lower part left side */
.button-area{
    border-radius: 20px;
    height: 40%;
    background-color: black;
    width: 40%; 

}


.btn{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    background-color:white;
    border-radius: 8px;
    width: 250px;
    margin: 10px;
    height: 80px;
}
 .btn-red{
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    background-color:red;
    border-radius: 8px;
    width: 250px;
    margin: 10px;
    height: 80px;
} 

/* lowwer part rigt side--- */


.right-side{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    
}
.player img{
        width: 100%;}


.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* footer desing */
.footer-black{
    height: 200px;
    background-color: black;
    padding-top: 50px;
    text-align: center;
}
.ending{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;


}
